LogicApp/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "metadata": {
            "description": "Name of the Logic App."
            }
        },
        "logicAppLocation": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "allowedValues": [
            "eastasia",
            "southeastasia",
            "centralus",
            "eastus",
            "eastus2",
            "westus",
            "northcentralus",
            "southcentralus",
            "northeurope",
            "westeurope",
            "japanwest",
            "japaneast",
            "brazilsouth",
            "australiaeast",
            "australiasoutheast",
            "southindia",
            "centralindia",
            "westindia",
            "canadacentral",
            "canadaeast",
            "westcentralus",
            "westus2",
            "[resourceGroup().location]"
        ],
        "metadata": {
            "description": "Location of the Logic App."
            }
        },
        "dynamicsax_Connection_Name": {
            "type": "string",
            "defaultValue": "dynamicsax"
        },
        "dynamicsax_Connection_DisplayName": {
            "type": "string",
            "defaultValue": "user@domain.com"
        },
        "sites_SalesFeedDataMerge_externalid": {
            "defaultValue": "/subscriptions/0b5e709c-ca05-400e-bff9-1214086e1944/resourceGroups/TestDemo/providers/Microsoft.Web/sites/SalesFeedDataMerge",
            "type": "String"
        },
        "connections_keyvault_3_externalid": {
            "defaultValue": "/subscriptions/0b5e709c-ca05-400e-bff9-1214086e1944/resourceGroups/LogicAppTest/providers/Microsoft.Web/connections/keyvault-3",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Emarsys Endpoint": {
                            "defaultValue": "https://admin.scarabresearch.com/hapi/merchant/1D13C2EC4C9CBF11/sales-data/api?live=false",
                            "type": "String"
                        },
                        "InstanceURL": {
                            "defaultValue": "commerceonboarding107c3d8cc88e2aa2faos.cloud.retail.dynamics.com",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "2020-06-20T01:00:00Z",
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Fetch_csv_String": {
                            "runAfter": {
                                "jsonToCSV": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "csvData",
                                        "type": "string",
                                        "value": "@{body('jsonToCSV')}"
                                    }
                                ]
                            }
                        },
                        "Get_secret": {
                            "runAfter": {
                                "Fetch_csv_String": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('MSFT-demo-BearerT')}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "HTTP": {
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@variables('csvData')",
                                "headers": {
                                    "Authorization": "@body('Get_secret')?['value']"
                                },
                                "method": "POST",
                                "uri": "@parameters('Emarsys Endpoint')"
                            }
                        },
                        "Initialize_date": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "date",
                                        "type": "string",
                                        "value": "@{formatDateTime(addDays(utcNow(),-1),'yyyy-MM-dd')}"
                                    }
                                ]
                            }
                        },
                        "Lists_items_present_in_SalesOrderHeadersV2": {
                            "runAfter": {
                                "Initialize_date": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InstanceURL')))}/tables/@{encodeURIComponent(encodeURIComponent('SalesOrderHeadersV2'))}/items",
                                "queries": {
                                    "$filter": "RequestedReceiptDate eq @{variables('date')}",
                                    "$select": "SalesOrderNumber,OrderCreationDateTime,OrderingCustomerAccountNumber"
                                }
                            }
                        },
                        "Lists_items_present_in_SalesOrderLines": {
                            "runAfter": {
                                "Initialize_date": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InstanceURL')))}/tables/@{encodeURIComponent(encodeURIComponent('SalesOrderLines'))}/items",
                                "queries": {
                                    "$filter": "RequestedReceiptDate eq @{variables('date')}",
                                    "$select": "SalesOrderNumber,ItemNumber,SalesPrice,OrderedSalesQuantity"
                                }
                            }
                        },
                        "Order_Headers": {
                            "runAfter": {
                                "Lists_items_present_in_SalesOrderHeadersV2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Lists_items_present_in_SalesOrderHeadersV2')",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "@@odata.etag": {
                                                                "type": "string"
                                                            },
                                                            "ItemInternalId": {
                                                                "type": "string"
                                                            },
                                                            "OrderCreationDateTime": {
                                                                "type": "string"
                                                            },
                                                            "OrderingCustomerAccountNumber": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "@@odata.etag",
                                                            "ItemInternalId",
                                                            "OrderCreationDateTime",
                                                            "OrderingCustomerAccountNumber"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Cache-Control": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Date": {
                                                    "type": "string"
                                                },
                                                "Expires": {
                                                    "type": "string"
                                                },
                                                "Pragma": {
                                                    "type": "string"
                                                },
                                                "Strict-Transport-Security": {
                                                    "type": "string"
                                                },
                                                "Timing-Allow-Origin": {
                                                    "type": "string"
                                                },
                                                "Transfer-Encoding": {
                                                    "type": "string"
                                                },
                                                "Vary": {
                                                    "type": "string"
                                                },
                                                "X-Content-Type-Options": {
                                                    "type": "string"
                                                },
                                                "X-Frame-Options": {
                                                    "type": "string"
                                                },
                                                "x-ms-apihub-cached-response": {
                                                    "type": "string"
                                                },
                                                "x-ms-request-id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Order_Lines": {
                            "runAfter": {
                                "Lists_items_present_in_SalesOrderLines": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Lists_items_present_in_SalesOrderLines')",
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "@@odata.etag": {
                                                                "type": "string"
                                                            },
                                                            "ItemInternalId": {
                                                                "type": "string"
                                                            },
                                                            "ItemNumber": {
                                                                "type": "string"
                                                            },
                                                            "OrderedSalesQuantity": {
                                                                "type": "integer"
                                                            },
                                                            "SalesOrderNumber": {
                                                                "type": "string"
                                                            },
                                                            "SalesPrice": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "required": [
                                                            "@@odata.etag",
                                                            "ItemInternalId",
                                                            "SalesOrderNumber",
                                                            "ItemNumber",
                                                            "SalesPrice",
                                                            "OrderedSalesQuantity"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "headers": {
                                            "properties": {
                                                "Cache-Control": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "Date": {
                                                    "type": "string"
                                                },
                                                "Expires": {
                                                    "type": "string"
                                                },
                                                "Pragma": {
                                                    "type": "string"
                                                },
                                                "Set-Cookie": {
                                                    "type": "string"
                                                },
                                                "Strict-Transport-Security": {
                                                    "type": "string"
                                                },
                                                "Timing-Allow-Origin": {
                                                    "type": "string"
                                                },
                                                "Transfer-Encoding": {
                                                    "type": "string"
                                                },
                                                "Vary": {
                                                    "type": "string"
                                                },
                                                "X-Content-Type-Options": {
                                                    "type": "string"
                                                },
                                                "X-Frame-Options": {
                                                    "type": "string"
                                                },
                                                "x-ms-apihub-cached-response": {
                                                    "type": "string"
                                                },
                                                "x-ms-request-id": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "statusCode": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "dataMerge": {
                            "runAfter": {
                                "Order_Headers": [
                                    "Succeeded"
                                ],
                                "Order_Lines": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": {
                                    "Ohead": "@body('Order_Headers')",
                                    "Olines": "@body('Order_Lines')"
                                },
                                "function": {
                                    "id": "[concat(parameters('sites_SalesFeedDataMerge_externalid'), '/functions/dataMerge')]"
                                }
                            }
                        },
                        "jsonToCSV": {
                            "runAfter": {
                                "dataMerge": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": "@body('dataMerge')",
                                "function": {
                                    "id": "[concat(parameters('sites_SalesFeedDataMerge_externalid'), '/functions/jsonToCSV')]"
                                },
                                "retryPolicy": {
                                    "type": "none"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "dynamicsax_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_Connection_Name'))]",
                                "connectionName": "[parameters('dynamicsax_Connection_Name')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicsax')]"
                            },
                            "keyvault": {
                                "connectionId": "[parameters('connections_keyvault_3_externalid')]",
                                "connectionName": "keyvault-3",
                                "id": "/subscriptions/0b5e709c-ca05-400e-bff9-1214086e1944/providers/Microsoft.Web/locations/westus/managedApis/keyvault"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('dynamicsax_Connection_Name'))]"
            ]
        },
        {
            "type": "MICROSOFT.WEB/CONNECTIONS",
            "apiVersion": "2016-06-01",
            "name": "[parameters('dynamicsax_Connection_Name')]",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "api": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'dynamicsax')]"
                },
                "displayName": "[parameters('dynamicsax_Connection_DisplayName')]"
            }
        }
    ]
}
